<div class="container">
  <h2>Agenda de contactos</h2>
  <form class="form">
    <input type="text" class="same nombre" placeholder="nombre" />
    <input type="text" class="same numero" placeholder="teléfono" />
    <input type="text" class="same direccion" placeholder="dirección" />
    <button class="button btn-agregar-tarea">Agregar</button>
  </form>
  <div class="contact listado-tareas">
    <ul class="contact list tarea">
      <li class="liName">Nombre</li>
      <li class="li">Teléfono</li>
      <li class="li">Dirección</li>

      <span class="material-icons icon"> delete </span>
    </ul>
  </div>
  <div class="contact listado-tareas">
    <ul class="contact list tarea">
      <li class="liName">Nombre</li>
      <li class="li">Teléfono</li>
      <li class="li">Dirección</li>

      <span class="material-icons icon"> delete </span>
    </ul>
  </div>
</div>
