.agenda {
  background-color: rgb(238, 164, 75);
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  text-align: center;
  font-size: 1rem;
  color: white;
  @media all and (min-width: 768px) {
    font-size: 2rem;
  }
}
